/* body {font-family:Arial, Helvetica, sans-serif; font-size: 12px; color:#4c4b4b;} */


/* a {background-color:inherit; color:#286ea0;  text-decoration:none; font-weight:normal; font-size:13px;} */
/* a:hover {background-color:inherit; color:#286ea0; text-decoration:none;font-size:13px;} */
/* a img {border:0;} */
/* p {font-size: 10px;font-family:sans-serif;} */

/* div.header{ */
/* 	width:752px; */
/* 	background-color:#286ea0;  */
/* 	padding:10px 0 0px 50px;  */
/* 	margin:10px 0 0 15px;  */
/* 	color:white; */
/* 	font-size: 30px; */
/* } */

/* div.header p{  */
/* 	padding:0px 0 10px 20px;  */
/* 	font-weight:normal;  */
/* 	font-size: 14px; */
/* } */

/* div.footer{ */
/* 	width:752px; */
/* 	margin:10px 0 0 15px; */
/* 	background-color:#286ea0;  */
/* 	padding:0px 0 0px 50px;  */
/* 	color:white; */
/* 	clear: left; */
/* } */

/* div.content{ */
/* 	width:752px; */
/* 	float: left;  */
/* 	margin:10px 0 0 15px; */
/* 	background-color:inherit;  */
/* 	padding:0px 0 0px 50px; */
/* } */


/* div.main{ */
/* 	float: left; */
/* } */
/* div.areaMessaggi{ */
/* 	float: left;  */
	
/* } */

/* div.areaMessaggi div{ */
/* 	margin-left:80px;  */
/* 	padding-top: 10px; */
/* 	padding-left: 10px;  */
/* 	padding-right:10px;  */
/* 	max-width:400px; */
/* 	border:2px solid silver; */
/* } */

/* .actionMessage{ */
/* 	color:green; */
/* } */


/* .errorMessage { */
/* 	color:red; */
/* } */

/* ul.actionMessage li { */
/* 	list-style-image: url(../img/li_ok.png); */
/* } */


/* ul.errorMessage li { */
/* 	list-style-image: url(../img/li_ko.png); */
/* } */


body {
    color: black;
/*     background-color: rgb( 240, 240, 240 ); */
	background-color: #fff5f5;
    font-family: verdana, helvetica, arial, sans-serif;
    font-size: 71%; /* Enables font size scaling in MSIE */
    margin: 0;
    padding: 0;
}

html > body {
    font-size: 8.5pt;
}

acronym, .titleTip {
    border-bottom: 1px dotted rgb( 153, 153, 153 );
    cursor: help;
    margin: 0;
    padding: 0 0 0.4px 0;
}

.doNotDisplay {
    display: none;
}

.smallCaps {
    font-size: 110%;
    font-variant: small-caps;
}

/* ##### Header ##### */

.midHeader {
    /*color: rgb( 39, 78, 144 );*/
    color: white;
    /*background-color: rgb( 140, 170, 230 );*/
    background-image: url(../img/news-image-1.jpg);
    height: 200px;
   
}

.headerTitle {
    font-size: 487%;
    font-family:Arial,"Trebuchet MS",Verdana,Tahoma;
    font-weight: bold;
    color:#000;
    margin: 0 0 0 4mm;
    padding: 0.25ex 0;
}

.subHeader {
    color: white;
    height:15px;
   	background-color: #e93939;
    margin: 0;
    /*padding: 1ex 1ex 1ex 1.5mm;*/
     padding:5px 10px 20px 10px; 
}

.subHeader a {
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
    padding: 0 0.75ex 0 0.5ex;
}

.subHeader a:hover {
    text-decoration: underline;
}

/* ##### Side Bar ##### */

#side-bar {
    width: 20em;
/*     height: 515px; */
	height: auto;
	min-height: 515px;
	overflow: hidden;
    float: left;
    clear: left;
    border-right: 1px solid rgb( 153, 153, 153 );
    background-color: #ffd4d4;
}

#side-bar div {
/*     border-bottom: 1px solid rgb( 153, 153, 153 ); */
}

.sideBarTitle {
	border-top: 1px solid rgb( 153, 153, 153 );
    font-weight: bold;
    margin: 0 0 0.5em 0;
    padding: 1em 0 0 0;
}

#side-bar ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0 0 1.1em 0;
}

#side-bar li {
    margin: 0;
    padding: 0.1ex 0; /* Circumvents a rendering bug (?) in MSIE 6.0 */
    border-top:1px solid rgb( 153, 153, 153 );
}

#side-bar a, .thisPage {
    color: rgb( 117, 0, 0 );
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    padding: 0.75em 1ex 0.75em 5mm;
    display: block;
}

.thisPage {
    color: black;
    background-color: white;
    padding-left: 4mm;
    border-top: 1px solid rgb( 153, 153, 153 );
    border-bottom: 1px solid rgb( 153, 153, 153 );
}

#side-bar a:hover {
    color: white;
    background-color: #e93939;
    text-decoration: none;
}

.sideBarText {
	border-top: 1px solid rgb( 153, 153, 153 );
	height: auto !important;
	min-height: 127px;
    margin: 0 0 1.2em 0;
    padding: 0 1.5ex 0 2.5mm;
    display: block;
}

#side-bar .sideBarText a {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline;
}

#side-bar .sideBarText a:hover {
    color: rgb( 0, 102, 204 );
    background-color: transparent;
    text-decoration: none;
}

.lighterBackground {
    color: inherit;
    background-color: white;
}

/* ##### Main Copy ##### */

#main-copy {
    color: black;
    background-color: white;
    text-align: justify;
    line-height: 1.5em;
    margin: 0 0 0 20em;
    padding: 0.5mm 5mm 5mm 5mm;
    border-left: 1px solid rgb( 153, 153, 153 );
}

#main-copy p {
    margin: 1em 1ex 2em 1ex;
    padding: 0;
}

#main-copy a {
    color: rgb( 0, 102, 204 );
    background-color: transparent;
    text-decoration: underline;
}

#main-copy a:hover {
    text-decoration: none;
}

#main-copy h1 {
    color: white;
    background-color: rgb( 100, 135, 220 );
    font-size: 100%;
    font-weight: bold;
    margin: 3em 0 0 0;
    padding: 0.5ex 0 0.5ex 1ex;
}

#main-copy .topOfPage {
    color: white;
    background-color: transparent;
    font-size: 91%;
    font-weight: bold;
    text-decoration: none;
    margin: 2.5ex 1ex 0 0; /* For MSIE */
    padding: 0;
    float: right;
}

#main-copy > .topOfPage {
    margin: 2.75ex 1ex 0 0; /* For fully standards-compliant user agents */
}

dl {
    margin: 1em 1ex 2em 1ex;
    padding: 0;
}

dt {
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 0;
}

dd {
    margin: 0 0 2em 2em;
    padding: 0;
}

/* ##### Body ##### */
div.body {
}

div.body table {
    border: 1px solid #666;
    width: 80%;
    margin: 20px 0 20px 0;
}

div.body th {
    padding: 2px 4px 2px 4px;
    text-align: center;
    vertical-align: top;
}

div.body td {
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
}

div.body thead tr {
    background-color: #fc0;
}

div.body th a, th a:visited {
    color: black;
}

div.body th a:hover {
    text-decoration: underline;
    color: black;
}

div.body tr.odd {
    background-color: #fff
}

div.body tr.even {
    background-color: #fea
}

div.body table.its thead tr {
    background-color: #69c;
}

div.body table.its tr.even {
    background-color: #def;
}

div.body table.mars thead tr {
    background-color: #9c9;
}

div.body table.mars tr.even {
    background-color: #ccb;
}

div.body table.mars tr.odd {
    background-color: #eec;
}

div.body table.simple thead tr {
    background-color: #eee;
}

div.body table.simple tr.even {
    background-color: #fff;
}

div.body table.simple {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

div.body table.simple td, table.simple th {
    border: 1px solid #ccc;
}

div.body table.nocol tbody td, table.nocol tbody th {
    border-left: none;
    border-right: none;
}

/* ##### Footer ##### */

#footer {
    color: white;
    background: #e93939;;
    font-size: 91%;
    margin: 0;
    padding: 1em 2.5mm 5ex 2.5mm;
    clear: both;
    line-height: 1.45em;
}

#footer .left {
    line-height: 1.45em;
    float: left;
    clear: left;
}

#footer .right {
    text-align: right;
    line-height: 1.45em;
}

#footer a {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}









/* body {font-family:Arial, Helvetica, sans-serif; font-size: 12px; color:#4c4b4b;} */


/* a {background-color:inherit; color:#286ea0;  text-decoration:none; font-weight:normal; font-size:13px;} */
/* a:hover {background-color:inherit; color:#286ea0; text-decoration:none;font-size:13px;} */
/* a img {border:0;} */
/* p {font-size: 10px;font-family:sans-serif;} */

/* div.header{ */
/* 	width:1060px; */
/* 	/*margin:10px 0 0 15px;*/  */
/* 	color:#000; */
/* 	font-size: 30px; */
/* } */

/* div.menu{ */
/* 	width:280px; */
/* /* 	padding:10px 0 0px 50px;  */ */
/* 	/*margin:10px 0 0 15px;*/  */
/* 	color:#000; */
/* 	font-size: 30px; */
/* } */

/* div.header p{  */
/* 	padding:0px 0 10px 20px;  */
/* 	font-weight:normal;  */
/* 	font-size: 14px; */
/* } */

/* div.footer{ */
/* 	width:1060px; */
/* 	/*margin:10px 0 0 15px;*/ */
/* 	height:150px; */
/* 	color:#000; */
/* 	clear: left; */
/* } */

/* div.content{ */
/* 	width:810px; */
/* 	height:450px; */
/* 	float: left;  */
/* 	margin:10px 0 0 15px; */
/* 	background-color:inherit;  */
/* 	padding:0px 0 0px 50px; */
/* } */


/* div.main{ */
/* 	float: left; */
/* } */
div.areaMessaggi{
	float: left; 
	
}

div.areaMessaggi div{
	margin-left:80px; 
	padding-top: 10px;
	padding-left: 10px; 
	padding-right:10px; 
	max-width:400px;
	border:2px solid silver;
}

.actionMessage{
	color:green;
}


.errorMessage {
	color:red;
}

ul.actionMessage li {
	list-style-image: url(../img/li_ok.png);
}


ul.errorMessage li {
	list-style-image: url(../img/li_ko.png);
}

#menu-destra {
    /*width: 20em;*/
    border-left:1px solid rgb( 153, 153, 153 );
    height: 515px;
    /*float: right;*/
/*     background-color: red; */
    /*clear: left;*/
    border-right: 1px solid rgb( 153, 153, 153 );
    background-color: #ffd4d4;
}

#menu-destra a:hover {
    color: white;
/*     background-color: rgb( 100, 135, 220 ); */
background-color:#e93939;
    text-decoration: none;
}


#menu-destra .sideBarText a {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline;
}

#menu-destra .sideBarText a:hover {
    color: #7f0006;
    background-color: transparent;
    text-decoration: none;
}

#menu-destra ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0 0 1.1em 0;
}

#menu-destra  li {
    margin: 0;
    padding: 0.1ex 0; /* Circumvents a rendering bug (?) in MSIE 6.0 */
}

#menu-destra  a, .thisPage {
    color: #e93939;
    background-color: transparent;
    text-decoration: none;
    margin: 0;
    padding: 0.75em 1ex 0.75em 5mm;
    display: block;
}

.lighterBackground {
    color: inherit;
    background-color: white;
    vertical-align: bottom;
    margin-top:300px;
    padding-bottom:7px;
}

